.buttons {
    background-color: #F5F4FA;
    cursor: pointer;
    font-family: inherit;

    border-radius: 4px;
    padding: 6px 22px;
    display: inline-block;
    min-width: 73px;
    border: 1px solid transparent;



    &:hover,
    &:focus {
            color: $pharagraph-color;
            background-color: $accent-color;
        }
}

