.clients {
    @media screen and (min-width: 320px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

    @media screen and (min-width: 480px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }


    
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
        
}

.clients-container {
    max-width: 480px;
     

    @media screen and (min-width: 768px) {
        max-width: 738px;
    }

     @media screen and (min-width:1200px) {
        max-width: 1170px;
     }

}

.clients-title {
    font-family: 'Roboto';
    font-weight: 700;
    
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    @media screen and (min-width: 320px) {
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 30px;
        }
    
    @media screen and (min-width: 480px) {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 30px;
    }
    
    
    @media screen and (min-width:1200px) {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 50px;
    }
}


.clients-list {
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 320px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }

    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
         margin: -15px;
    }

     @media screen and (min-width:1200px) {
        flex-wrap: nowrap;
        margin: 0 auto;
     }

}



.clients-item {

    @media screen and (min-width: 320px) {
            width: calc(100% - 4 * 15px) / 2;
            margin: 15px;
        }

    @media screen and (min-width: 480px) {
        width: calc(100% - 4 * 15px) / 2;
        margin: 15px;
    }

    @media screen and (min-width: 768px) {
        width: calc(100% - 4 * 15px) / 3;
           
    }

    @media screen and (min-width:1200px) {
        width: 100%;
        margin: 0;
        margin-right: 30px;

                &:last-child {
                        margin-right: 0;
                    }
    }
        
}

.clients-a {
    height: 92px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #AFB1B8;

    color: #AFB1B8;

    transform: scale(1);
    transition: transform $transition-duration $timing-function, background-color $transition-duration $timing-function, color $transition-duration $timing-function;


    &:hover,
     &:focus {
            color: $accent-color;
            border: 1px solid $accent-color;
    
            transform: scale(1.1);
        }

                 @media screen and (min-width: 320px) {
                     max-width: 210px;
        
                 }

                @media screen and (min-width: 480px) {
                    width: 210px;
                    
                }
        
                @media screen and (min-width: 768px) {
                    width: 226px;
                }
        
                @media screen and (min-width:1200px) {
                    width: 170px;
                }
}


.clients-svg {
    width: 106px;
    height: 60px;

    fill: currentColor;
}

