.what-do__title,
.staff-title,
.about__title {
    font-weight: $weight-main;
  
    line-height: $height;
    text-align: center;
    letter-spacing: $spacing-main;

    @media screen and (min-width: 320px) {
            margin-bottom: 30px;
            font-size: 28px;
        }

    @media screen and (min-width: 480px) {
        margin-bottom: 30px;
        font-size: 28px;
    }

    @media screen and (min-width: 480px) {
        margin-bottom: 30px;
        font-size: 28px;
    }
    
        @media screen and (min-width: 768px) {
            
        }
    
        @media screen and (min-width:1200px) {
            margin-bottom: 50px;
            font-size: $size-title;
        }
}

html {
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    color: $h-color;
    background-color: $pharagraph-color;

    font-family: $font-main, sans-serif;
    letter-spacing: $spacing-main;
    font-weight: $weight-p;

    margin: 0;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   @media screen and (min-width: 480px) {
       max-width: 480px;
    }

   @media screen and (min-width: 768px) {
        max-width: 768px;
   }

    @media screen and (min-width:1200px) {
        max-width: 1200px;
        
    } 
}

.about__container {
    @media screen and (min-width: 768px) {
            max-width: 768px;
            margin: 0;
        }

    
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}



.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


.ull {
    list-style: none;
    padding: 0;
}

.about-paragraph,
.staff-paragraph,
.projects-paragraph {
    color: $paragraph-about-list-color;
}