.about {

    @media screen and (min-width: 320px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    @media screen and (min-width: 480px) {
            padding-top: 60px;
            padding-bottom: 60px;
    }
    
    @media screen and (min-width: 768px) {
            padding-top: 60px;
            padding-bottom: 45px;
        }
       
    
        @media screen and (min-width:1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.about__container{
    @media screen and (min-width: 768px) {
        max-width: 768px;
        margin: 0 auto;
    }
    
   @media screen and (min-width:1200px) {
        max-width: 1170px;
   }
}

.list-about {
    
        @media screen and (min-width: 320px) {
                flex-wrap: wrap;
            }

        @media screen and (min-width: 480px) {
            flex-wrap: wrap;
        }
    
        @media screen and (min-width: 768px) {
            //margin: -15px;
            display: flex;
        }
    
        @media screen and (min-width:1200px) {
            flex-wrap: nowrap;
            
        }
}

.list-about__item{
                @media screen and (min-width: 320px) {
                        &:not(:last-child) {
                            margin-bottom: 30px;
                        }
                
                    }

                @media screen and (min-width: 480px) {
                    &:not(:last-child){
                        margin-bottom: 30px;
                    }
                       
                }
        
                @media screen and (min-width: 768px) {
                    width: 50%;
                    padding: 15px;

                    margin-bottom: 15px;
                }
        
                @media screen and (min-width:1200px) {
                    margin-right: 30px;
                        padding: 0;
                        margin-bottom: 0;
                        width: 270px;
                        
                    
                    &:last-child {
                        margin-right: 0;
                }
                     
    }
}


.list-about__item>h3 {
    font-weight: $weight-main;
    font-size: $size-main;
    line-height: $height-h3;
    letter-spacing: $spacing-main ;
    text-transform: $transform-main;
    

         @media screen and (min-width: 480px) {
            text-align: center;

         }
    
        @media screen and (min-width: 768px) {
           text-align: start;
        }
    
        @media screen and (min-width:1200px) {
            
        }
}

.list-about__item>p {
    font-weight: $weight-p;
    font-size: $size-main;
    line-height: $height-p;
    letter-spacing: $spacing-main;
}

.list-about__title {
    margin-bottom: 10px;
}

.list-about__paragraph{
    color: $paragraph-about-list-color;
}