.staff {
    background-color: #F5F4FA;

        @media screen and (min-width: 320px) {
                padding-top: 60px;
                padding-bottom: 60px;
            }

        @media screen and (min-width: 480px) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    
        @media screen and (min-width: 768px) {
            padding-top: 60px;
            padding-bottom: 45px;
        }
    
        @media screen and (min-width:1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.staff-container{
    @media screen and (min-width: 768px) {
        max-width: 768px;
        margin: 0 auto;
    }
        @media screen and (min-width:1200px) {
            max-width: 1170px;
            //padding: 0;
        }

}

.staff-list {

    
        @media screen and (min-width: 480px) {
            //flex-wrap: wrap;
        }

                @media screen and (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                    
                        margin: -15px;
                }
    
        @media screen and (min-width:1200px) {
            flex-wrap: nowrap;
            justify-content: center;
            
        }

}


.staff-item {
    background-color: #ffffff;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 320px) {
        
            &:not(:last-child) {
                margin-bottom: 30px;
            }
    
        }

     @media screen and (min-width: 480px) {
     &:not(:last-child) {
         margin-bottom: 30px;
     }

    }

    @media screen and (min-width: 768px) {
        max-width: 354px;
        width: 50%;
        
        margin: 15px;

        &:not(:last-child) {
                margin-bottom: 15px;
            }
    }

    @media screen and (min-width:1200px) {
        margin: 0 auto;
        margin-right: 30px;
        max-width: 270px;
        width: 100%;

        &:last-child {
                    margin-right: 0;
         }
                 &:not(:last-child) {
                     margin-bottom: 0;
                 }
    }

}

.staff-h {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.staff-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width: 320px) {
            margin-bottom: 16px;
        }

    @media screen and (min-width: 480px) {
            margin-bottom: 16px;
        }
    
        @media screen and (min-width:1200px) {
            padding-bottom: 30px;
            margin-bottom: 0;
        }
}

.staff-img {
    display: block;
    margin-bottom: 30px;

    @media screen and (min-width: 320px) {
            width: 300px;

            margin: 0 auto;
            margin-bottom: 30px;
        }

        @media screen and (min-width: 480px) {
            width: 450px;
            height: 460px;
        }
    
        @media screen and (min-width: 768px) {
            width: 354px;
            height: 374px;
        }
    
        @media screen and (min-width:1200px) {
            width: 270px;
            height: 260px;
        }
}

.icon-staff-list {
    display: flex;
    justify-content: center;

        @media screen and (min-width: 320px) {
                padding-bottom: 24px;
            }

        @media screen and (min-width: 480px) {
            padding-bottom: 24px;
        }
    
        @media screen and (min-width: 768px) {}
    
        @media screen and (min-width:1200px) {
            padding-bottom: 30px;
        }

}


.staff-icon {
    width: 20px;
    height: 20px;

    fill: currentColor;

        
}



.link-icon {

    margin-right: 10px;

    &:last-child {
            margin-right: 0;
        }
}

.staff-a {
    width: 44px;
    height: 44px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: $pharagraph-color;
    border-radius: 50%;
    border: none;

    color: #AFB1B8;

    transform: scale(1);
    transition: transform $transition-duration $timing-function,
        background-color $transition-duration $timing-function, color $transition-duration $timing-function;


        &:hover,
        &:focus {
                background-color: $accent-color;
                color: #FFFFFF;
        
                transform: scale(1.1);
        }
}



