 @media screen and (min-width: 480px) {
 }

 @media screen and (min-width: 768px) {}

 @media screen and (min-width:1200px) {}

$icon-background: #F5F4FA;
$pharagraph-color: #ffffff;
$pharagraph-background: rgba(47, 48, 58, 0.8);
$paragraph-about-list-color: #757575;
$h-color: #212121;
$accent-color: #2196F3;



$weight-main: 700;
$size-main: 14px;
$height-h3: 1.1;
$spacing-main: 0.03em;
$transform-main: uppercase;

$weight-p: 400;
$height-p: 1.7;

$font-main: 'Roboto';
$height-do: 16px;
$alight-do: center;

$size-title: 36px;
$height: 1.2;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;

